<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">

    <!-- injector:css -->
    <link rel="stylesheet" href="app/account/login/login.css">
    <link rel="stylesheet" href="app/account/signup/signup.css">
    <link rel="stylesheet" href="app/admin/admin.css">
    <link rel="stylesheet" href="app/app.css">
    <link rel="stylesheet" href="app/emergency/emergency.css">
    <link rel="stylesheet" href="app/game/game.css">
    <link rel="stylesheet" href="app/main/main.css">
    <link rel="stylesheet" href="app/main/responsive.css">
    <link rel="stylesheet" href="app/multiCam/multiCam.css">
    <link rel="stylesheet" href="app/pwrecovery/pwrecovery.css">
    <link rel="stylesheet" href="app/queue/queue.css">
    <link rel="stylesheet" href="app/reset/reset.css">
    <link rel="stylesheet" href="app/stripe/stripe.css">
    <!-- endinjector -->
    <!-- endbuild -->

    <!-- Stripe.js -->
    <script src="https://checkout.stripe.com/checkout.js"></script>
 <!--   <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      // This key is for testing. Change to live key when ready
      Stripe.setPublishableKey('pk_test_bE12QyEg4nE1pzUEw2OI6riK');
    </script>   -->
  </head>

<body ng-app="clawFrontApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-include="'/navbar.html'"></div>
    <div id="userMedia"></div>
    <div ng-controller="MainCtrl" class="hero-unit" id="banner">
    <!-- <object ng-if="!$root.game" type="application/x-shockwave-flash" height="736" width="1209" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=roaringsheep" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=roaringsheep&auto_play=true&start_volume=25" /></object> -->
    <!-- <a href="http://www.twitch.tv/roaringsheep" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline; text-align:center;">Watch live video from Roaringsheep on www.twitch.tv</a> -->

    <iframe ng-if="!$root.game" src="//player.vimeo.com/video/106560219" width="1200" height="730" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


        <!--     <a class = "btn controller placeholder" ng-click = "toggleVideo()">Toggle video feed</a> -->
        <div class="container UltimateContainer">
            <div ui-view>

            </div>


        </div>
    </div>

 <!--div id = "yo" class = "videoUrl">
           <video id="their-video" class="clawVideo" ng-src="{{peerURL}}" autoplay></video> 
            <div class="row"> -->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="socket.io/socket.io.js"></script>
    <!-- build:js(client) app/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-gestures/gestures.js"></script>
    <script src="bower_components/peerjs/peer.min.js"></script>
    <script src="bower_components/userapp/userapp.client.js"></script>
    <script src="bower_components/userapp-angular/angularjs.userapp.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!--Manually including Bootstrap JS for modal-->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--     <script src="bower_components/peerjs/peer.js"></script> -->
<!--     <script src="app/peerConnect/peerOld.js"></script> -->



    <!-- build:js({.tmp,client}) app/app.js -->
    <script src="app/app.js"></script>
    <script src="components/auth/auth.service.js"></script>
    <script src="components/auth/user.service.js"></script>
    <script src="components/socket/socket.service.js"></script>
    <script src="app/queue/queue.factory.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>

    <script src="app/queue/queue.controller.js"></script>
    <script src="app/queue/queue.js"></script>
    <script src="app/game/game.controller.js"></script>
    <script src="app/game/game.js"></script>
    <script src="app/talkToPi/talkToPi.service.js"></script>
    <script src="app/pwrecovery/pwrecovery.controller.js"></script>
    <script src="app/pwrecovery/pwrecovery.js"></script>
    <!-- notinjector:notjs -->
    <script src="app/account/account.js"></script>
    <script src="app/account/login/login.controller.js"></script>
    <script src="app/account/settings/settings.controller.js"></script>
    <script src="app/account/signup/signup.controller.js"></script>
    <script src="app/account/signup/userSignUp.factory.js"></script>
    <script src="app/admin/admin.controller.js"></script>
    <script src="app/admin/admin.js"></script>
    <script src="app/emergency/emergency.controller.js"></script>
    <script src="app/emergency/emergency.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.js"></script>
    <script src="app/multiCam/multiCam.controller.js"></script>
    <script src="app/multiCam/multiCam.js"></script>
    <script src="app/peerConnect/peerConnect.factory.js"></script>
    <script src="app/peerConnect/peerOld.js"></script>
    <script src="app/queue/angular-payments.min.js"></script>
    <script src="app/reset/reset.controller.js"></script>
    <script src="app/reset/reset.js"></script>
    <script src="app/stripe/stripe.controller.js"></script>
    <script src="app/stripe/stripe.js"></script>
    <script src="components/mongoose-error/mongoose-error.directive.js"></script>
    <script src="components/navbar/navbar.controller.js"></script>
    <!-- notendnotinjector -->
    <!-- endbuild -->

</body>

</html>
