<div ui-view>
    <div class="controller user-box" ng-show="isLoggedIn">
        <div class="row">
            <span>

                <h4>Hello {{currentUser.name}}</h4>
                <h5 ng-if="currentUser.credits>=1">
                    You have
                    <span class="badge">{{currentUser.credits}}</span>{{currentUser.credits == 1?" game credit":" game credits"}}
                </h5>
                <h5>You <span class = "badge">{{inQueue?"are":"are not"}}</span>  in the queue
                  <span ng-if = "inQueue"><button class = "button btn-danger btn-sm"ng-click = "removeByUserId(currentUser)"><span class = "glyphicon glyphicon-remove">Quit</span></button></span>
                </h5>
              
            </span>
        </div>
        <!-- row -->

        <div class="row">
            <span ng-if="currentUser.credits>=1 && eta==0 && isInQueue">

                <h5>
                    There is nobody ahead of you!
                    <br>Click
                    <button class="btn btn-success btn-sm" ng-disabled="eta>0" ng-click="playGame(player)">Play with 1 credit</button>to start game.

                </h5>
            </span>
        </div>


        <div class="row">
            <span ng-if="currentUser.credits>=1 && eta==0">

                <h5>
                    There is nobody ahead of you!
                    <br>Click
                    <button class="btn btn-success btn-sm" ng-disabled="eta>0" ng-click="playGame(player)">Play with 1 credit</button>to start game.

                </h5>
            </span>
        </div>

        <div ng-if = "currentUser.credits>=1 && eta==0">
          
        </div>
        <div class="row">
            <span>
            </span>
            <span ng-if="currentUser.credits>=1 && eta>1 &&!inQueue">
                <h5>
                    There are 
                    <span class="badge">{{eta}}</span>players ahead of you.
                    <br>
                    <button class="btn btn-success btn-sm" ng-disabled="currentUser.credits==0" ng-click="addPlayer(currentUser)">Join</button>the game queue.
                </h5>
            </span>
            <span ng-show="currentUser.credits>=1 && eta==1 && !inQueue">
                <h5>
                    There is 
                    <span class="badge">{{eta}}</span>player ahead of you.
                    <br>
                    <button class="btn btn-success btn-sm" ng-disabled="currentUser.credits==0" ng-click="addPlayer(currentUser)">Join</button>the game queue.
                </h5>
            </span>
        </div>
        <!-- row -->
        <div class="row">
            <h4>Buy credits</h4>
            <div class="creditBox">
                <strong>
                    <font size="5">{{credits}}</font>
                </strong>
                <br>
                <button class="creditBtn btn btn-sm controller" ng-click="changeCredit(-1)">-1</button>
                <button class="creditBtn btn btn-sm controller" ng-click="changeCredit(1)">+1</button>
                <button class="creditBtn btn btn-sm controller" ng-click="resetCredits()">Reset</button>
                <br>Total cost:
                <br>
                <strong>{{credits * .99 | currency}}</strong>
            </div>

            <form action="/charge" method="POST" ng-model="credits">
                <input type="hidden" name="userId" value="{{currentUser._id}}">
                <input type="hidden" name="numCredits" value="{{credits}}">
                <!-- Number of credits: -->

                <br>
                <!-- <input name="numCredits" placeholder = "number of credits" type = "number" min="1" ng-model="credits" integer required><br> -->

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_bE12QyEg4nE1pzUEw2OI6riK" data-name="the Claw" data-image=""></script>
            </form>

        </div>

    </div>
    <!-- controller -->
</div>
<!-- ui-view -->