<div ui-view>
    <div class="controller user-box" ng-show="isLoggedIn">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <span>
                        <h3>Welcome {{currentUser.name}}</h3>
                        <h5 ng-if="currentUser.credits>=1">
                            <span class "glyphicon glyphicon-ok controller"></span>You have
                            <span class="badge">{{currentUser.credits}}</span>{{currentUser.credits == 1?" game credit":" game credits"}}
                        </h5>
                    </span>
                </div>
                <!-- row -->

                <div class="row">
                    <span ng-if="currentUser.credits>=1 && eta==0">
                        <h5>
                            There is nobody ahead of you!
                            <br>Click
                            <button class="btn btn-success btn-sm" ng-disabled="eta>0" ng-click="playGame(player)">Play with 1 credit</button>to start game.
                        </h5>
                    </span>
                </div>

                <div class="row">
                    <span>
                    </span>
                    <span ng-show="eta>1">
                        <h5>
                            <strong class="badge"></strong>
                            There are {{eta}} players ahead of you.
                        </h5>
                    </span>
                    <span ng-show="eta==1">
                        <h5>
                            <strong class="badge"></strong>
                            There is {{eta}} player ahead of you
                        </h5>
                </span>
                    <span ng-show="eta==0">

                    </span>
                </div> <!-- row -->
            </div> <!-- col -->
        </div> <!-- row -->

        <div class="row">

            <h3>Buy credits</h3>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_bE12QyEg4nE1pzUEw2OI6riK" data-amount="100" data-name="The Claw" data-description="1 game ($1.00)" data-image="">
                    </script>
                </form>

            </div>

        </div>
    </div> <!-- controller -->
</div> <!-- ui-view -->