<div id="buttons" class="col-md-12">
<h1>Ports</h1>
<button ng-click="fixShit('7,on')">Port 1 On</button>
<button ng-click="fixShit('7,off')">Port 1 Off</button>
<button ng-click="fixShit('12,on')">Port 2 On</button>
<button ng-click="fixShit('12,off')">Port 2 Off</button>
<button ng-click="fixShit('11,on')">Port 3 On</button>
<button ng-click="fixShit('11,off')">Port 3 Off</button>
<button ng-click="fixShit('13,on')">Port 4 On</button>
<button ng-click="fixShit('13,off')">Port 4 Off</button>
<button ng-click="fixShit('15,on')">Port 5 On</button>
<button ng-click="fixShit('15,off')">Port 5 Off</button>
<button ng-click="fixShit('16,on')">Port 6 On</button>
<button ng-click="fixShit('16,off')">Port 6 Off</button>
<button ng-click="fixShit('18,on')">Port 7 On</button>
<button ng-click="fixShit('18,off')">Port 7 Off</button>
<button ng-click="fixShit('22,on')">Port 8 On</button>
<button ng-click="fixShit('22,off')">Port 8 Off</button>
</div>
