/*GLOBAL*/
.center-text {
    text-align: center;
}

.btn:focus {outline: 0;}
button:focus {outline: 0;}

.no-margin-left {
    margin-left: 0;
    padding-left:0;
}

html, body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.container {
    padding: 0;
    height: 100%;
    width: 100%;
}


.transparent {
    color: rgba(255,255,255,0.75);
    background-color: rgba(255,255,255,0);
}


.inline {
    display: inline-block;
}
.no-margin-right {
    margin-right: 0;
    padding-right: 0;
}
/*PROFILE*/
.user-box {
    padding-top: 0.25%;
    height: 36em;
    width: 20em;
    border: 1px solid black;
    position: absolute;
    top: 14em;
    left: 2em;
}

.row>h4 {
    margin-top: 0;
}

#start-btn {
    border-radius: 5%;
    font-size: 1.5em;
    margin-top: 2%;
}
.creditBox {
  /* basics */
background-color: #777;
color: #fff;
text-align: center;
border-radius: 10%;
padding: 0 0.2em;
width: 12em;
margin: 0 auto;

}

.creditBtn {
  /* basics */
  color: #444;
  background-color: #B5B198;
  /* rounded corners */
    -webkit-border-radius: 6px;
          border-radius: 6px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  font-weight: bold;
}


/*NAVBAR + HEADER*/
#banner {
    border-bottom: none;
}

.navbar {
    width: 100%;
    position: fixed;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.navbar-nav> li > a{
    padding-top: 10px !important;
    color: #333 !important;
}

.navbar a {
    font-size: 1.2em;
    color: #333 !important;
    background-color: #ccc !important;
    border: 1px solid rgba(255,255,255,.75);
    cursor: pointer;
}
.navbar a:hover{
    border: 1px solid rgba(0,0,0,0.75);
}

#navbar-main {
   text-align: center;

}

.ng-scope {
    top: 0;
    margin-top: 0;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: black;
    height: 100%;
    width: 100%;
    z-index: 0;


}



/*VIDEO + IMAGE*/
/*.videoUrl {
    background: url("http://192.168.1.124:8080/?action=stream"), url("http://192.168.1.124:8090/?action=stream");
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size: 50% 100%, 50% 100%;
    z-index: 1;
}
*/

/*.videoUrl2 {
    background: url("http://192.168.1.124:8090/?action=stream") no-repeat center center;
    background-size: cover;
    min-width: 30vh;
    min-height: 30vh;
    z-index: 2;

}*/

.clawVideo {
    width: 80%;
}

#peerVidInput {
    bottom: 20em;
    position: absolute;
    z-index: 100;
}
#their-video    {
    position: absolute;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height: 100%;
    z-index: -1;
}

#my-video {
    max-width: 300px;
    max-height: 300px;
}

.videoContainer   {
    position: absolute;
    bottom: 5%;
    right: 6%;
    border: 2px solid #ddd;
}

#fbPhoto {
    height: 8em;
    width: 8em;
    border-radius: 50%;
}

/*FORM*/
form {
    width: 70%;
}

.modal {
    color: gray;
}

#modal-body {
    text-align: justify !important;
    text-justify: distribute;
}
/*GAME*/
/*#btnCallMaster {
    margin-right: 85%;
    margin-bottom: 2%;
}*/
.btn-main {
    font-size: 1.5em;
    height: 7em;
    width: 7em;
    text-align: center;
    border-radius: 5%;
    white-space: pre-wrap;
}

.badge {
    font-size: 1.5em;
    text-align: center;
    white-space: pre-wrap;
    padding: 1.5%;
}

.dropBtn {
    height:200px;
    width: 200px;
   /* float: left;*/
    margin-right: 15%;
    clear: both;
    z-index: 100;
}
#drop {
    border-radius: 50%;
  /*  border: none;*/
    height: 200px;
    width: 200px;
    font-size: 2.5em;
    z-index: 100;
   /* background-color: rgba(255,255,255,0.75);
    color: rgba(0,0,0,0.5);*/
}
.controller {
    color: rgba(255,255,255,0.75);
    background-color: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,.75);
    cursor: pointer;
}

.controller:hover{
    color: rgba(0,0,0,0.75);
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(0,0,0,0.75);
}

.controls   {
    position: absolute;
    width:100%;
    height:100%;
}

.UltimateContainer > div:first-of-type   {
    width:100%;
    height:100%;
}

/*.UltimateContainer > div:first-of-type div:first-of-type {
    width: 60%;
    height: 100%;
    margin: 0 auto 50px auto;
}
*/
.keypad {
    width: 100%;
    height: 100%;
    display: table;
    z-index: 100;
    position: absolute;
}

.arrowsNbuttons {
    display: table-cell;
    vertical-align: bottom;
}

.arrows {
    width: auto !important;
    height: auto !important;
    display: inline-block;
    float: left;
    margin-bottom: 1%;
    /*margin-left: 15%;*/
    z-index: 100;

}

.arrows a {
    width: 65px;
    color: white;
    border : 2px solid #ddd;
    z-index: 100;
}

.arrows a:first-child   {
    display: block;
    margin: 0 auto 5px auto;
}
.arrows a:last-child    {
    display: block;
    margin: 5px  auto;
}
.arrows a:nth-child(2)  {
    margin-right: 5px;
}

.arrows a:nth-child(4)  {
    margin-left: 5px;
}
.arrows a.dummy-arrow   {
    visibility: hidden;
}

/*.dropBtn    {
    display: inline-block;
    float: right;
}*/

#live_embed_player_flash {
    margin-top: 160px;
    margin-left: 400px;
}


@media (max-width: 620px) {

.arrows {
    margin-left: auto;
    clear:both;
    float: none;
}

.dropBtn {
    margin-right: auto;
    float: none;
    margin: 50px auto;
}

.videoUrl2  {
    display: none;
}

}





