/*GLOBAL*/
.center-text {
    text-align: center;
}
.placeholder {
    margin: 0 50px;
}
.no-margin-left {
    margin-left: 0;
    padding-left:0;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.container {
    padding: 0;
    height: 100%;
    width: 100%;
}

.no-margin-right {
    margin-right: 0;
    padding-right: 0;
}
/*NAVBAR + HEADER*/
#banner {
    border-bottom: none;
    margin-top: -20px;
}

/*navbar {
    width: 100%
    position: fixed;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0);
}*/

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: black;
    height: 100%;
    width: 100%;
}

/*BUTTONS*/
.btn-main {
    font-size: 1.5em;
    height: 7em;
    width: 7em;
    text-align: center;
    border-radius: 5%;
    white-space: pre-wrap;
}

.badge {
    font-size: 1.5em;
    text-align: center;
    white-space: pre-wrap;
    padding: 1%;
}

#drop {
    border-radius: 100%;
    border: none;
    height: 300px;
    width: 300px;
    font-size: 3em;
    background-color: rgba(255,255,255,0.75);
    color: rgba(0,0,0,0.5);
}

.controller {
    color: rgba(255,255,255,0.75);
    background-color: rgba(255,255,255,0);
    border: none;
}

div.row.controllers-fixed {
    margin-top: 400px;
  
    height: 300px;
 
    width: 100%;
}

/*VIDEO*/
.videoUrl {
    background: url("http://192.168.1.124:8080/?action=stream") no-repeat center center;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;

}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.modal {
    color: gray;
}

form {
    width: 70%;
}