/*GLOBAL*/
.center-text {
    text-align: center;
}
.placeholder {
    margin: 0 50px;
}
.no-margin-left {
    margin-left: 0;
    padding-left:0;
}

.no-margin-right {
    margin-right: 0;
    padding-right: 0;
}
/*NAVBAR + HEADER*/
#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    height: 50em;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-image: "";
    background: #4393B9;
}

/*BUTTONS*/
.btn-main {
    font-size: 1.5em;
    height: 7em;
    width: 7em;
    text-align: center;
    border-radius: 5%;
    white-space: pre-wrap;
}

.badge {
    font-size: 1.5em;
    text-align: center;
    white-space: pre-wrap;
    padding: 1%;
}

#drop {
    border-radius: 100%;
    border: none;
    height: 300px;
    width: 300px;
    font-size: 3em;
}


.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
