<div ui-view>
  <div class="controls">
    <video id="their-video" ng-src="{{peerURL}}" autoplay loop></video>
    <section class="keypad" ng-hide="isMaster">
      <div class="arrowsNbuttons">
        <div class="arrows" tooltip="Hold down an arrow controller to move the claw. Release the arrow to stop.">

          <a ng-mousedown="move('back')" ng-mouseup="move('bclear')" id='back' class="btn controller">
            <span class="fa fa-arrow-up fa-3x"></span>
          </a>

          <a ng-mousedown="move('left')" ng-mouseup="move('lclear')" id="left" class="btn controller  ">
            <span class="fa fa-arrow-left fa-3x "></span>
          </a>

          <a class="btn controller dummy-arrow ">
            <span class="fa fa-arrow-up fa-3x "></span>
          </a>
          <a ng-mousedown="move('right')" ng-mouseup="move('rclear')" id="right" class="btn controller">
            <span class="fa fa-arrow-right fa-3x"></span>
          </a>
          <a ng-mousedown="move('forw')" ng-mouseup="move('fclear')" id="front" class="btn controller">
            <span class="fa fa-arrow-down fa-3x"></span>
          </a>

        </div>
        <!-- arrows -->

        <div class="dropBtn" ng-hide="isMaster">


          <button ng-click="clawDrop()" id="drop" ng-disabled="dropping" class="btn btn-xl controller" tooltip="hit the DROP button ONCE to drop the claw. We're wicked smart and programmed the claw to do the rest. ">DROP</button>

        </div>


      </div>
    </section>

    <span id="peerVidInput" class="pull-left">
      <button ng-hide="isMaster" ng-click="callMasterPeer()">Call Master</button>
      <button ng-hide="isMaster" ng-click="endCall()">End Call</button>
    </span>

  </div>

  <div class="videoContainer">
    <p>STATUS: {{peerError || 'All OK'}}</p>
    <video id="my-video" ng-src="{{videoURL}}" autoplay loop></video>
  </div>


</div>
