<div ui-view>

  <video id="their-video" ng-src="{{peerURL}}" autoplay class="videoUrl"></video>
  <div class="controls">

    <section class="keypad">
      <div class="arrowsNbuttons">
<!--         <p>My Peer ID is {{my_id}}</p>
        <input type="text" ng-model="tempPeerId" placeholder="Enter remote peer ID"> -->
<!--         <button ng-click="callRequestedPeer(tempPeerId)">Call</button>
        <button ng-click="callRandomPeer()">Call Random</button> -->
        <button ng-hide="isMaster" ng-click="callMasterPeer()">Call Master</button>
        <button ng-hide="isMaster" ng-click="endCall()">End Call</button>

        <div ng-hide="isMaster" class="arrows">

          <a ng-mousedown="move('back')" ng-mouseup="move('bclear')" id='back' class="btn ">
            <span class="fa fa-arrow-up fa-3x"></span>
          </a>

          <a ng-mousedown="move('left')" ng-mouseup="move('lclear')" id="left" class="btn   ">
            <span class="fa fa-arrow-left fa-3x "></span>
          </a>

          <a class="btn controller dummy-arrow ">
            <span class="fa fa-arrow-up fa-3x "></span>
          </a>
          <a ng-mousedown="move('right')" ng-mouseup="move('rclear')" id="right" class="btn ">
            <span class="fa fa-arrow-right fa-3x"></span>
          </a>
          <a ng-mousedown="move('forw')" ng-mouseup="move('fclear')" id="front" class="btn ">
            <span class="fa fa-arrow-down fa-3x"></span>
          </a>

        </div>
        <!-- arrows -->

        <div ng-hide="isMaster" class="dropBtn">
          <button ng-click="clawDrop()" id="drop" ng-disabled="dropping" class="btn btn-xl controller">DROP</button>
        </div>

      </div>

    </section>
  </div>

  <div class="videoContainer">
    <!--     <p>Their Peer ID is {{remotePeerId}}</p> -->
    <p>STATUS: {{peerError || 'All OK'}}</p>
    <video id="my-video" ng-src="{{videoURL}}" autoplay loop></video>
  </div>


</div>
